body{
    background-image: url(img/paper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: DFKai-sb;
    font-size: 5vh;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.word{
    writing-mode: vertical-rl;
    text-align: left;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-right: 20vh;
}
.word p{
    transition: color 0.7s ease, text-shadow 1.2s ease-in;
}
.word p:hover {
    color: yellow;
    text-shadow: 0.1em 0.1em 0.2em yellow;
}